# Azure Function - Load
# IMPORTANTE: Não commitar este arquivo com valores reais!
# Ao fazer deploy, configure estas variáveis no Azure Portal

# Conexão com Azure Storage Account
AZURESTORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=stfunctionsb3;AccountKey=doN4RNQXMoOU3wmffGFVC/odYWFenMnmTA46gnduSGUEgrkxuzG6EHH5BJH/llA1gUSM4YRexIST+AStHpcF8w==;EndpointSuffix=core.windows.net

# Conexão com MySQL no Azure
DB_HOST=mysql-pipeline-b3-fv.mysql.database.azure.com
DB_USER=adminb3
DB_PASSWORD=SenhaForte@2024
DB_NAME=ativosb3
DB_PORT=3306
